<?php

return [
    'settings' => [
        'displayErrorDetails' => true, // set to false in production
        'addContentLengthHeader' => false, // Allow the web server to send the content-length header

        // Renderer settings
        'renderer' => [
            'template_path' => __DIR__ . '/../templates/',
        ],

        // Monolog settings
        'logger' => [
            'name' => 'slim-app',
            'path' => isset($_ENV['docker']) ? 'php://stdout' : __DIR__ . '/../logs/app.log',
            'level' => \Monolog\Logger::DEBUG,
        ],
        // MySQL settings
         'db' => [
            'host' => 'my-db-host',
            'dbname' => 'my-dbname,
            'user' => 'my-db-user',
            'pass' => 'my-secret-password'
        ],
        'auth0' => [
            'valid_audiences' => ['http://localhost/rest/api','https://my-domain.com/rest/api'],
            'authorized_iss' => ['https://my-auth-domain.auth0.com/'],
            'supported_algs' => ['algs'],
            'namespace' => 'https://my-domain.com/'
        ]
    ],
];
